{% extends 'base.html' %}

{% block breadcrumb-left %}
<div class="container ">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light p-3 rounded shadow-sm">
      <li class="breadcrumb-item">
        <a href="{% url 'staff-list' %}" class="text-decoration-none text-primary fw-bold">
          <i class="bi bi-people"></i> Teaching staffs
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff-list' %}" class="text-decoration-none text-primary fw-bold">
          List
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Form</li>
    </ol>
  </nav>
</div>
{% endblock breadcrumb-left %}
{% block title %}

  {% if object %}
    Update {{ object.fullname }}
  {% else %}
    Add new Staff
  {% endif %}

{% endblock title %}


{% block content %}

<form action="" method="POST">
  {% csrf_token %}

  {% include 'corecode/form_snippet.html' with placeholders="true" %}

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Update Record">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Add new Staff">
  {% endif %}
</form>

{% endblock content %}
