{% extends 'base.html' %}

{% block breadcrumb-left %}
<div class="breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron">
      <li class="breadcrumb-item">
        <a href="{% url 'home' %}" class="text-decoration-none fw-bold">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff-list' %}" class="text-decoration-none fw-bold">
          <i class="fas fa-chalkboard-teacher"></i> Teaching Staffs
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff-list' %}" class="text-decoration-none fw-bold">
          <i class="fas fa-list"></i> List
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <i class="fas fa-plus-circle"></i> Form
      </li>
    </ol>
  </nav>
</div>
{% endblock breadcrumb-left %}
{% block title %}

  {% if object %}
    Update {{ object.fullname }}
  {% else %}
    Add new Staff
  {% endif %}

{% endblock title %}


{% block content %}

<form action="" method="POST">
  {% csrf_token %}

  {% include 'corecode/form_snippet.html' with placeholders="true" %}

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Update Record">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Add new Staff">
  {% endif %}
</form>

{% endblock content %}
