{% extends 'base.html' %}
{% load humanize %}

{% block breadcrumb-left %}
<div class="breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron">
      <li class="breadcrumb-item">
        <a href="{% url 'home' %}" class="text-decoration-none fw-bold">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="#" class="text-decoration-none fw-bold">
          <i class="fas fa-money-bill-wave"></i> Finance
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'invoice-list' %}" class="text-decoration-none fw-bold">
          <i class="fas fa-file-invoice-dollar"></i> Invoices
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <i class="fas fa-receipt"></i> Add Payment
      </li>
    </ol>
  </nav>
</div>
{% endblock breadcrumb-left %}

{% block title %}Add Payment{% endblock title %}

{% block content %}

<div class="row">
  <div class="col-8">
    <form action="" method="POST">
      {% csrf_token %}

      {% include 'corecode/form_snippet.html' %}

      <input type="submit" class="btn btn-primary" value="Add payment">

    </form>
  </div>

  <div class="col-4">
    <div class="alert alert-info" role="alert">
      <h3>INVOICE</h3>
      <p>{{invoice | upper}}</p>
      <hr>
      <ul>

        <li>Session: {{ invoice.session }}</li>
        <li>Term: {{ invoice.term }}</li>
        <li>Class: {{ invoice.class_for }}</li>
        <li>Total Amount Payable: {{invoice.total_amount_payable | intcomma }}
        </li>
        <li>Total Amount Paid: {{ invoice.total_amount_paid | intcomma }}</li>
        <li><strong>Balance: {{invoice.balance | intcomma }}</strong></li>
      </ul>
    </div>
  </div>
</div>



{% endblock content %}
