<form method="GET">
    <select name="class" id="class">
      <option value="">Select Class</option>
      {% for class in classes %}
        <option value="{{ class.id }}">{{ class.name }}</option>
      {% endfor %}
    </select>
  
    <select name="section" id="section">
      <option value="">Select Section</option>
      {% for section in sections %}
        <option value="{{ section.id }}">{{ section.name }}</option>
      {% endfor %}
    </select>
  
    <button type="submit">Filter</button>
  </form>
  